h1 {
    color:aqua;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
p {
    color:black;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;

}